.project-card {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #F2F2F2;
    position: relative;
}

.img-box {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    left: 43px;
    top: 44px;
}

.project-name {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 309px;
    bottom: 90px;
}

.achievement-rate {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}