#app {
  margin: 0;
  padding: 0;
  font-family: 'GmarketSansMedium';
}

header, .main-page-container {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

a {
  text-decoration: none;
}

#project-list {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 268px;
  margin-right: 300px;
  margin-top: 30px;
  gap: 70px;
  flex-wrap: wrap;
}

.poster-img {
  margin-top: 10px;
  width: 1887px;
  height: 340px;
}

#project-details-contents {
  display: flex;
  /* width: 1445px;
  height: 1537px; */
  justify-content: center;
  align-items: flex-start;
  gap: 91px;
}

#product-funding-info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;

}