#product-info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.product-title {
  display: flex;
  width: 470px;
  padding: 10px;
  align-items: center;
  gap: 10px;

  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 42px */
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 7px;
  border: 1px solid #CDCDCD;
}

.product-name {
  display: flex;
  /* width: 470px; */
  height: 57px;
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.product-description {
  display: flex;
  /* width: 470px; */
  height: 54px;
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
  color: #434343;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 25.2px */
}

.product-price-info {
  display: flex;
  width: 470px;
  height: 52px;
  /* padding: 0px 15px; */
  justify-content: center;
  align-items: center;
  gap: 183px;
  border-top: 1px solid #CDCDCD;
}

.product-price-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 18.2px */
}

.product-price-data {
  display: flex;
  /* padding: 10px 0px; */
  justify-content: end;
  width: 200px;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 42px */
}

.product-current-stock-quantity-info {
  display: flex;
  width: 470px;
  height: 52px;
  /* padding: 0px 15px; */
  align-items: center;
  justify-content: center;
  gap: 323px;
}

.product-current-stock-quantity-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 18.2px */
}

.product-current-stock-quantity-data {
  display: flex;
  padding: 5px;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 50px;
  color: #4FAFB1;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 21px */
}

.product-registered-stock-quantity-info {
  display: flex;
  width: 470px;
  height: 52px;
  /* padding: 0px 15px; */
  align-items: center;
  justify-content: center;
  gap: 321px;

  border-bottom: 1px solid #BEBEBE;
}

.product-registered-stock-quantity-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 18.2px */
}

.product-registered-stock-quantity-data {
  display: flex;
  padding: 5px;
  justify-content: end;
  align-items: center;
  gap: 10px;
  color: #939393;
  width: 50px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 21px */
}

.funding-product-quantity-info {
  display: flex;
  width: 470px;
  height: 63px;
  /* padding: 0px 15px 0px 12px; */
  align-items: center;
  justify-content: center;
  gap: 219px;
}

.funding-quantity-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4FAFB1;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 28px */
}

.funding-quantity-contents {
  display: flex;
  align-items: center;
  gap: 11px;
}

.funding-quantity-minus {
  display: flex;
  width: 20px;
  height: 13px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.funding-quantity-data {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50px;
}

.funding-quantity-plus {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.funding-quantity-plus:hover {
  cursor: pointer;
}

.funding-quantity-minus:hover {
  cursor: pointer;
}

.funding-big {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.funding-click-big {
  display: flex;
  width: 488px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #4FAFB1;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 33.6px */
}

.funding-click-big:hover {
  cursor: pointer;
}

#product-delivery-funding {
  display: flex;
  width: 470px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid #BABABA;
  background: #FFF;
}

.delivery-first-info {
  display: flex;
  height: 49px;
  align-items: center;
  gap: 216px;
  align-self: stretch;
  border-bottom: 1px solid #CDCDCD;

}

.delivery-second-info {
  display: flex;
  height: 49px;
  align-items: center;
  gap: 179px;
  align-self: stretch;
  border-bottom: 1px solid #CDCDCD;

}

.delivery-title {
  display: flex;
  width: 167px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: #939393;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 18.2px */

}

.delivery-price {
  display: flex;
  width: 130px;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 28px */

}

.funding-big {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

}

.funding-click-big {
  display: flex;
  width: 450px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #4FAFB1;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 33.6px */
}