.project-product-card {
    display: flex;
    /*width: 398px;*/
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.project-product-card {
    cursor: pointer;
}

.project-image-info {
    position: relative;
    display: flex;
    /*width: 365px;*/
    height: 245px;
    padding: 15px 15px 15px 15px;
    justify-content: center;
    align-items: flex-start;

    border-radius: 10px;
    border: 1px solid #CDCDCD;}

.project-image {
    display: flex;
    /*width: 363px;*/
    height: 245px;
    padding: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.project-img {
    width: 300px;
    height: 250px;
    flex-shrink: 0;
}

.likes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    right: 9px;
    top: 15px;
}

.lotdeal-info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 12px;
    top: 10px
}

.lotdeal-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lotdeal-img {
    width: 46px;
    height: 45px;
}

.lotdeal-time {
    display: flex;
    align-items: center;
    gap: 4px;

    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 19px;
}

.funding-info {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.achievement-info {
    display: flex;
    align-items: center;
}

.funding-achievement-rate {
    display: flex;
    /* width: 130px; */
    height: 36px;
    padding-right: 7px;
    align-items: end;
    gap: 10px;
    padding-top: 12px;

    color: #4FAFB1;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 35px */
}

.accumulated-funding-amount {
    display: flex;
    padding-top: 8px;
    height: 36px;
    justify-content: center;
    align-items: end;
    gap: 10px;

    color: #878787;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 21px */
}

.remaining-days {
    display: flex;
    padding: 9px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #EAF8F9;
    width: 95px;
    height: 27px;

    color: #4FAFB1;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 21px */

}

.project-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding-left: 7px; */
    white-space: nowrap;

    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
}

.maker-name {

    display: flex;
   justify-content: center;
    align-items: center;
    gap: 10px;

    color: #878787;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 21px */
}