/* category menu */

#category-menu-bar {
    display: flex;
    /* width: 1440px; */
    padding-top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#category-menu {
    display: flex;
    height: 90px;
    width: 200px;
    padding: 7px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background: #F2F4F6;
}

#category-menu:hover {
    cursor: pointer;
}

.category-logo{
    display: flex;
    align-items: flex-start;
}

.category-name{
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000000;

    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;

}

/* sort bar */
#sort-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;

    padding: 50px 300px 0px 50px;
}

.sort-select-bar {
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.sort {
    display: flex;
    width: 110px;
    height: 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    /*color: #000;*/

    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 30.8px */
    cursor: pointer;

}

.sort.active {
    color: #42b8b8;
}