#support-signature-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 41px;
}

#support-signature-title-write-section {
    display: flex;
    width: 812px;
    justify-content: center;
    align-items: center;
}

.support-signature-title-box {
    display: flex;
    width: 570px;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
}

.support-signature-logo {
    display: flex;
    align-items: center;
    /* width: 24px; */
    padding-left: 66px;
    /* height: 38px; */

}

.support-signature-title {
    display: flex;
    width: 105px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%; /* 32.2px */

}

.support-signature-count {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4FAFB1;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */

}

.support-signature-write-box {
    display: flex;
    height: 45px;
    padding: 0px 10px;
    align-items: center;
    border-radius: 30px;
    background: #4FAFB1;
    width: 110px;

}

.support-signature-write-box:hover {
    cursor: pointer;
}

.support-signature-write-logo {
    display: flex;
    /*padding: 10px;*/
    align-items: flex-start;
    /*gap: 10px;*/
    /*width: 19px;*/
    /*height: 19px;*/

}

.support-signature-write-title {
    display: flex;
    padding-top: 3px;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    color: #FFFCFC;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

}

#support-signature-contents-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.support-signature-contents-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}

.support-signature-non-contents-box {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* gap: 16px; */
    justify-content: center;
    width: 812px;

}

.support-signature-support-info-box {
    display: flex;
    width: 709px;
    align-items: flex-start;
    gap: 365px;
}

.support-signature-support-info-box-image-name {
    display: flex;
    gap: 22px;
}

.support-signature-profile-image-box {
    display: flex;
    align-items: center;
    gap: 10px;

}

.support-signature-profile-image {
    width: 55px;
    height: 55px;
    border: 1px solid rgb(255 255 255);
    border-radius: 50%;

}

.support-signature-name-data {
    display: flex;
    height: 57px;
    /* justify-content: center; */
    align-items: end;
    width: 209px;
    /* flex-direction: column; */
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.support-signature-modify {
    display: flex;
    gap: 7px;
    height: 18px;
    justify-content: end;
    /*height: 57px;*/
    align-items: center;
}

.support-signature-modify:hover {
    cursor: pointer;
}

.support-signature-created-at-data {
    display: flex;
    /* height: 57px; */
    align-items: center;
    color: #494F55;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.support-signature-contents {
    display: flex;
    width: 709px;
    padding-top: 26px;
    /* align-items: center; */
    gap: 40px;
    color: #434343;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    border: 1px solid #CDCDCD;
    border-radius: 7px;
    padding-left: 14px;
    height: 200px;

}

.support-signature-modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* modal or popup */
.support-signature-modal-container {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 696px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    height: 450px;
}

.support-signature-modal-close {
    display: flex;
    height: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    align-self: flex-end;
}

.support-signature-modal-close:hover {
    cursor: pointer;
}

.support-signature-modal-title-box {
    display: flex;
    width: 656px;
    align-items: center;
    gap: 24px;
}

.support-signature-modal-title-details {
    display: flex;
    width: 500px;
    height: 98px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.support-signature-modal-title-contents {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
}

.support-signature-modal-title-contents-details {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 23.8px */

}

.support-signature-modal-speech-bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;

}

.support-signature-modal-speech-bubble-vector {
    flex: 1 0 0;
    align-self: stretch;
}

.support-signature-modal-speech-bubble-contents {
    display: flex;
    width: 106px;
    height: 25.933px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 560px;
    top: 80.526px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;

}

.support-signature-modal-input-box {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid #CDCDCD;

    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 23.8px */

}

.support-signature-modal-condition-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    color: #B3B2B2;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 23.8px */

}

.support-signature-modal-write-button-box {
    display: flex;
    width: 654px;
    height: 60px;
    padding: 10px 215px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

}

.support-signature-modal-write-button {
    display: flex;
    width: 156px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 8px;
    background: #4FAFB1;
    height: 48px;
}

.support-signature-modal-write-button:hover {
    cursor: pointer;
}

.support-signature-modal-write-button-logo {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.support-signature-modal-write-button-contents {
    display: flex;
    width: 106px;
    justify-content: center;
    /* align-items: center; */
    flex-shrink: 0;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    height: 19px;

}
