.product-register-guide-box {
    display: flex;
    width: 952px;
    height: 177px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #878787;
    position: relative;
}

.product-register-guide-box > .guide-title {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.product-register-guide-box > .guide-title > .text {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.product-register-guide-box > .guid-description {
    display: flex;
    align-items: flex-start;
    gap: 31px;
    position: absolute;
    left: 15px;
    top: 60px;
}

.description-subject {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .item {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .text {
            color: #878787;
            text-align: center;
            font-family: Open Sans;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 23.8px */
        }
    }
}

.description-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .item {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .text {
            color: #878787;
            text-align: center;
            font-family: Open Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 23.8px */
        }
    }
}