.project-register-content-title {
    display: flex;
    /*flex-direction: column;*/
    width: 1553px;
    height: 179px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #BEBEBE;
}

.project-register-content-title > .title-text {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 49px */
}

.project-register-content-title > .title-description {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-description > .text {
    color: #BEBEBE;
    text-align: center;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 23.8px */
}