.project-register-save-box {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.project-register-save-box:hover, .project-register-save-box:focus, .project-register-save-box:active, .project-register-save-box:checked {

}

.save-btn {
    display: flex;
    width: 544px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #58C1C2;
    cursor: pointer;
}

.save-btn > .text {
    color: #FFF;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 42px */
}