:root {
    --main-color: #58C1C2;
    --deep-color: #0E8C8D;
    --success-color: #5CB74C;
    --error-color: #FF0000;
    --bg-color: white;
    --sidebar-bg-color: white;
    --icon-color: #C4C4C4;
}