body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#membership-promotion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

#honors-title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}

#membership-payments-banner {
    width: 1000px;
    height: 270px;
    padding: 20px;
    background-color: var(--banner-bg-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#membership-payments-banner:hover {
    background-color: var(--banner-hover-color);
    z-index: 1;
    cursor: pointer;
}

#banner-membership-text {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#btn-membership-join {
    padding: 10px 70px;
    background-color: white;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}

.icon-arrow {
    font-size: 12px;
    padding-left: 10px;
}

#intro-title {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#intro-sub-title-container {
    display: flex;
    gap: 150px;
    justify-content: center;
    padding-top: 50px;
}

.intro-sub-title-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-sub-icon {
    background-color: var(--circle-bg-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-top: 7px;
}

.intro-sub-title {
    color: var(--honors-main-color);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding-top: 70px;
    padding-bottom: 100px;
}

#price-box {
    width: 450px;
    height: 260px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    padding: 45px 10px 15px;
}

#membership-type-desc-box {
    width: 450px;
    height: 260px;
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    padding: 45px 10px 15px;
}

#price-box-text {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

#price-ticket-wrapper {
    padding-top: 40px;
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

.price-ticket {
    background-color: var(--kakao-main-color);
    color: var(--kakao-sub-color);
    font-weight: bold;
    font-size: 22px;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}

.price-ticket:hover {
    background-color: var(--kakao-hover-color);
}

.honors-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
}

.honors-type-text {
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
    color: var(--honors-main-color);
}

.honors-type-desc {
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}