button {
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 25px;
}

button:hover {
    cursor: pointer;
    background-color: var(--deep-color);
}

select {
    padding: 5px 15px;
}

.sec-content {
    width: 60%;
    height: 450px;
}

.sec-btn {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}

