.sec-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 2%;
}

#icon-email-wrapper {
    box-sizing: border-box;
    height: 35px;
    border: none;
    color: var(--icon-color);
    font-size: 25px;
}

#input-send-wrapper {
    display: flex;
    justify-content: center;
}

#input-cert-email {
    height: 35px;
    width: 350px;
    border: 2px solid var(--main-color);
    box-sizing: border-box;
    border-right: none;
}

#btn-cert-email {
    color: white;
    height: 35px;
    box-sizing: border-box;
    background-color: var(--deep-color);
    padding: 2px 15px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

#btn-cert-check {
    color: white;
    height: 35px;
    box-sizing: border-box;
    background-color: var(--deep-color);
    padding: 2px 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
}